<% layout('layouts/boilerplate') %>
<h1>All Parks</h1>

<% for(let park of parks) { %>
<div class="card">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" alt="" src="<%= park.image %>" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= park.title %></h5>
        <p class="card-text"><%= park.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= park.location %></small>
        </p>
        <a class="btn btn-primary" href="/parks/<%=park._id%>"
          >View <%= park.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
