<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park Show</title>
  </head>
  <body>
    <h1><%=park.title %></h1>
    <h2><%=park.location %></h2>
    <h3>Price: $<%=park.price %></h3>
    <footer>
      <p>
        <a href="/parks/<%=park._id %>/edit">Edit Park</a>
      </p>
      <p>
        <form action="/parks/<%=park._id %>?_method=DELETE" method="POST"><button>Delete</button></form>
      </p>
      <p>
        <a href="/parks">Back to index</a>
      </p>
    </footer>
  </body>
</html>
